.contacts {
  max-width: 372px;
  padding-top: 35px;
  margin: 0 auto 60px;
  position: relative;

  &__maps {
    margin-left: 5px;
    margin-right: 5px;
  }

  &__link {
    display: block;
  }

  &__img {
    width: 340px;
    height: 541px;
    box-sizing: border-box;
    border: 5px solid $grideperleft;
    filter: drop-shadow(0px 2.69px 1.65px rgba($grey, 0.2));
    border-radius: 15px;
  }

  &__wrap-card {
    position: absolute;
    top: 184px;
    left: 67px;
  }

  &__form-wrap {
    max-width: 320px;
    position: relative;
    top: -54px;
    left: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .contacts {
    max-width: 88.5%;
    display: grid;
    justify-content: center;
    padding-top: 60px;
    margin-bottom: 142px;

    &__wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transfotm 1s ease-in-out;

    }

    &__maps {
      width: 864px;
      height: 554px;
      position: absolute;
    }

    &__img {
      width: 100%;
      height: 100%;
      border: none;
    }

    &__wrap-card {
      top: 160px;
      left: 76px;
    }

    &__form-wrap {
      width: 100%;
      max-width: 482px;
      top: 0;
      left: 190px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .contacts {
    max-width: 100%;
    
    &__wrap {
      width: 1200px;
      position: relative;
    }
    
    &__maps {
      left: 0;
    }
    
    &__wrap-card {
      left: 328px;
    }
    
    &__form-wrap {
      left: 360px;
    }
  }
}
