.gift-certificate-card {
  max-width: 343px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  background-color: $beige;
  border-radius: 25px;
  padding-top: 23px;
  padding-bottom: 50px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 7px;
  margin-right: 7px;
  transition: all 500ms ease-in-out;

  &__wrap-description,
  &__wrap-purchase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    color: $light-telegray;
    margin-bottom: 9px;
  }

  &__slogan {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: $signal-black;
    text-align: center;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 22px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include list-reset();
    margin-bottom: 4px;
  }

  &__item {
    margin-bottom: 5px;
  }

  &__text {
    font-weight: 600;
    line-height: 140%;
    padding-top: 38px;
    margin-top: 5px;
    margin-bottom: 0;
    position: relative;

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      display: block;
      background-image: url("../img/icon-certeficate.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 5px;
      left: 43%;
    }
  }

  &__img {
    margin-bottom: -10px;
    position: relative;
    z-index: 2;
  }

  &__warning {
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    color: $signal-black;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 16px;
  }

  & .button-open-form-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    & .button--open-form {
      width: 100%;
      margin-left: 3px;
      margin-right: 3px;
    }
  }

}

@media screen and (min-width: 1024px) {
  .gift-certificate-card {
    max-width: 864px;
    display: flex;
    flex-direction: row;
    background-color: $grideperleft;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;

    &__wrap-description {
      width: 100%;
      align-items: flex-start;
      align-self: baseline;
      margin-top: 94px;
      margin-right: 6px;
    }

    &__title {
      font-size: 14px;
      margin-bottom: 6px;
    }

    &__slogan {
      font-size: 36px;
      letter-spacing: 1px;
      text-align: start;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 37px;
    }

    &__list {
      align-items: flex-start;
      row-gap: 16px;
    }

    &__text {
      font-size: 16px;
      padding-top: 0;
      padding-left: 40px;

      &::before {
        top: -1px;
        left: 0;
      }
    }

    &__wrap-purchase {
      width: 100%;
      padding-top: 13px;
    }

    &__img {
      width: 438px;
      height: 438px;
      object-fit: cover;
      margin-left: 8px;
    }

    &__warning {
      font-size: 16px;
      margin-left: 4px;
      margin-right: 45px;
      margin-top: -11px;
    }

    & .button-open-form-wrap {
      padding: 0 33px 0 0;
      margin-left: -3px;

      & .button--open-form {
        font-size: 16px;
        padding: 14px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .gift-certificate-card {
    max-width: 1240px;
    
    &__slogan {
      font-size: 52px;
    }
    
    &__text {
      font-size: 24px;
    }
    
    &__img {
      width: 484px;
      height: 484px;
    }
    
    &__warning {
      margin-left: 90px;
      margin-right: 140px;
    }
    
    & .button-open-form-wrap .button--open-form {
      margin-left: 90px;
      margin-right: 90px;
    }
  }
}
