.menu {
  position: relative;
  order: 2;

  &--nojs {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    // background-color: $background-menu;
  }

  &--nojs .menu__list--header {
    width: 100%;
    min-height: min-content;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
  }

  &__list {
    transition: all 500ms ease-in-out;
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    background-color: $background-menu;
    @include list-reset();
    padding-top: 8px;
    padding-right: 6px;

    &--header {
      width: 100vw;
      min-height: 528px;
      position: absolute;
      right: -15px;
      top: 14px;
      z-index: 10;
    }
  }

  &__item {
    margin-top: 5px;
    margin-bottom: 5px;

    &-desktop {
      display: none;
    }
  }

  &__item:nth-child(2) {
    order: 3
  }

  &__item:last-child {
    order: 5;
  }

  &__link {
  color: $white;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 10px;
  text-decoration: none;

    &:active {
      color: $rich-orange;
      opacity: 1;
    }

    &:hover {
      opacity: 0.7;
      transition: 0.5s;
    }
  }

  &__toggle {
    width: 30px;
    height: 24px;
    background-color: $white;
    position: absolute;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
  }

    &:active {
      opacity: 1;
    }
  }

  &--closed .menu__toggle {
    top: -16px;
    right: 3px;

    &::after {
      content: "";
      width: 26px;
      height: 3px;
      background-color: $rich-orange;
      border-radius: 5px;
      position: absolute;
      top: 2px;
      right: 0;
      box-shadow: 0 8px $rich-orange, 0 16px $rich-orange;
    }
  }

  &--closed .menu__list {
    visibility: hidden;
    opacity: 0;
    transform: translate(-20px, -10px);
  }

  &--nojs .menu__toggle {
    display: none;
  }

  &--open .menu__toggle {
    top: -17px;
    right: 2px;
    transition: top 1s ease-out .5s;


    &::after,
    &::before {
      content: "";
      width: 26px;
      height: 3px;
      position: absolute;
      top: 11px;
      left: 3px;
      background-color: $rich-orange;
      border-radius: 5px;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
}

//Стили для меню footer
.menu {
  &--footer {
    margin-top: 32px;
    margin-bottom: 24px;

    .menu__list {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px 10px;
      background: none;
      padding-left: 17px;
      padding-right: 10px;
      padding-bottom: 10px;

      .menu__item {
        justify-self: center;

        &:nth-child(2) {
          order: inherit;
        }

        &:nth-child(4) {
          order: 1;
        }
      }

      .menu__link {
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: $wet-asphalt;

        &:active {
          color: $rich-orange;
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    order: 1;

    &__list--header {
      width: auto;
      min-height: min-content;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 3px;
      position: relative;
      background: none;
      padding: 0;
      right: 0;
      top: 0;
    }

    &--closed .menu__list {
      visibility: visible;
      opacity: 1;
      transform: none;
    }

    &--closed .menu__toggle {
      display: none;
    }

    &--nojs {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 1;
    }

    &__toggle {
      display: none;
    }

    &__item {
      margin-top: 0;
      margin-right: 2px;

      &-mobile {
        display: none;
      }

      &-desktop {
        display: flex;
      }

      &:nth-child(2) {
        order: 0;
      }
    }

    &__link {
      font-size: 12px;
      font-weight: 500;
      color: $wet-asphalt;
    }
  }

  //стили для меню footer
  .menu--footer {
    margin-top: 37px;
    margin-bottom: 16px;

    .menu__list {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px 40px;
      padding-right: 0;
      margin-left: 15px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .menu {

    &__list--header {
      column-gap: 11px;
    }

    .menu__link {
      font-size: 14px;
    }

    &--footer .menu__list {
      display: flex;
      flex-direction: row;
    }
  }
}

