
.our-works {
  max-width: 1440px;
  width: 100%;
  padding-top: 37px;
  padding-bottom: 15px;
  margin: 0 auto 15px;
}

.heading {
  @include heading();
  margin-bottom: 40px;
}

@media screen and (min-width: 1024px) {
  .our-works {
    padding-top: 68px;
    margin-bottom: 45px;
    
    .heading {
      // @include heading();
      font-size: 30px;
    }
  }

}

@media screen and (min-width: 1440px) {
  .our-works {
    
    .heading {
      font-size: 36px;
    }
  }
}
