.our-locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
    background-image: url("../../img/backgroumd-line-locations.png");
    background-repeat: no-repeat;
    transform: rotateX(11deg);
  }
}

.open-form-our-locations-wrap {
  display: flex;
  justify-content: center;
}

.open-form-our-locations {
  padding: 14px 54px;
  margin: 0 auto;

}
