// Стили для страницы, body и main. Footer прижат к низу страницы.

.page {
  width: 100%;
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}

.page__body {
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  color: $wet-asphalt;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

.page-main {
  flex: 1 1 auto;
}

