.presentation {
  display: flex;
  padding-top: 23px;
  padding-bottom: 24px;
  background-color: $grideperleft;

  & .heading {
    margin-bottom: 11px;
  }

  &__wrap {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 140%;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0 auto;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 6px;
    position: relative;

    &::after {
      content: "";
      width: 3px;
      height: 3px;
      display: block;
      background-color: $wet-asphalt;
      position: absolute;
      top: 50%;
      left: -6px;
      border-radius: 50%;
    }

    &--family {
      margin-top: 0;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 8px;

    &--reference {
      margin-top: 39px;
    }

    &--love-story {
      margin-bottom: 2px;
    }

    &--rubric {
      margin-bottom: 11px;
    }
  }

  &__button {
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: $rich-orange;
    letter-spacing: 1.2px;
    padding: 6px 40px 5px 7px;
    background: none;
    position: relative;
    border: none;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 24px;
      background-image: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 5px;
      right: 10px;
      rotate: -90deg;
    }

    &--open {
      font-size: 16px;
      margin-top: 10px;
    }

    &--open::before {
      rotate: 90deg;
      right: 12px;
    }
  }

}

.dot-tablet {
  display: none;
}

.points,
.more-details,
.continuation {
  transition: max-height 1s ease-in-out;
  overflow-y: hidden;
}

.more-details,
.continuation {
  max-height: 0;
}

.more-details {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}


@media screen and (min-width: 1024px) {
  .presentation {
    margin-bottom: 31px;

    & .heading {
      margin-bottom: 14px;
    }

    &__wrap {
      max-width: 100%;
      align-items: flex-start;
      margin: 0 59px 0 64px;
    }

    &__text {
      font-size: 16px;
      line-height: 22px;
      text-align: left;

      &:first-child {
        margin-bottom: 1px;
      }

      &:nth-child(2) {
        margin-top: 1px;
        line-height: 24px;
        margin-right: 40px;

        & .one-line:first-child,
        & .one-line-tablet {
          display: block;
        }
      }

      &:nth-child(3) {
        margin-bottom: 16px;
      }

      &--love-story {
        margin-top: 21px;
      }
    }

    &__subtitle {
      font-size: 16px;
      margin-left: 9px;

      &::after {
        left: -8px;
      }
    }

    .dot-tablet {
      display: inline;
    }

    .hidden-tablet {
      display: none;
    }

    &__button {
      font-size: 16px;
      margin-top: 4px;
      margin-left: auto;
      margin-bottom: 5px;
    }
  }
}
