.presentation {
  display: flex;
  padding-top: 23px;
  padding-bottom: 24px;
  background-color: $grideperleft;

  & .heading {
    margin-bottom: 11px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 140%;
    padding-left: 6px;
    padding-right: 6px;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 6px;
    position: relative;

    &::after {
      content: "";
      width: 3px;
      height: 3px;
      display: block;
      background-color: $wet-asphalt;
      position: absolute;
      top: 50%;
      left: -6px;
      border-radius: 50%;
    }

    &--family {
      margin-top: 0;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 8px;

    &--reference {
      margin-top: 39px;
    }

    &--love-story {
      margin-bottom: 2px;
    }

    &--rubric {
      margin-bottom: 11px;
    }
  }

  &__one-line {
    display: block;
  }

  &__button {
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: $rich-orange;
    letter-spacing: 1.2px;
    padding: 6px 40px 5px 7px;
    background: none;
    position: relative;
    border: none;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 24px;
      background-image: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 5px;
      right: 10px;
      rotate: -90deg;
    }

    &--open {
      font-size: 16px;
      margin-top: 10px;
    }

    &--open::before {
      rotate: 90deg;
      right: 12px;
    }
  }

}

.more-details,
.continuation {
  display: none;
}

.more-details {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
