//Общие стили для слайдера
.slider-our-locations {
  max-width: 1240px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 5;

  &__list {
  width: 100%;
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
  @include list-reset;
  position: relative;
  margin-bottom: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

    &.no-transition {
      scroll-behavior: auto;
    }
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
  }

  &__img {
    width: 310px;
    height: 272px;
    display: block;
    object-fit: cover;
  }
}

@media screen and (min-width: 1024px) {
  .slider-our-locations {

    &__list {
      width: 88%;
      grid-auto-columns: calc(100% / 3);
      column-gap: 0;
    }

    &__img {
      width: 278px;
      height: 245px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .slider-our-locations {
    
    &__list {
      width: 100%;
    }
  
    &__img {
      width: 395px;
      height: 349px;
    }
  }
}

