.stages-of-work {
  margin-bottom: 70px;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    @include list-reset();
    margin-left: 8px;
    margin-right: 8px;
    position: relative;

    &::after {
      content: "";
      width: 116%;
      height: 100%;
      background-image: url("../img/bg-line-stages-mobile.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 26px;
      opacity: 0.2;
      transform: rotate(0deg);
      z-index: -1;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px 43px;
    background: $white;
    position: relative;
    border: 2px solid $rich-orange;
    border-radius: 12px;
    box-shadow: 0px 24px 38px rgba(220, 220, 220, 0.14),
                0px 9px 46px rgba(216, 216, 216, 0.12),
                0px 11px 15px rgba(221, 221, 221, 0.2);

    &--3 {
      padding-bottom: 20px;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: $signal-black;
    margin-top: 13px;
    margin-bottom: 5px;
  }

  &__text {
    text-align: center;
    line-height: 140%;
    color: $wet-asphalt;
    margin-top: 6px;
  }

  &__number {
    font-family: "Arial-Bold";
    font-size: 30px;
    font-weight: 700;
    width: 50px;
    height: 50px;
    padding: 13px 15px;
    background-color: $beige;
    background-position: 50%;
    color: $rich-orange;
    border-radius: 50%;
    position: absolute;
    bottom: -17px;
  }
}

@media screen and (min-width: 1024px) {
  .stages-of-work {
    margin-bottom: 130px;

    
    &__list {
      width: 86%;
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 150px;
      margin: 0 auto;

      &::after {
        width: 100%;
        background-image: url("../img/bg-line-stages.png");
        top: 140px;
        left: 57px;
      }
    }

    &__item {
      align-items: flex-start;
      padding: 25px 22px 33px 38px;

      &--1 {
        top: 37px;
        left: 11px;
      }

      &--2 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        top: 74px;
        right: 11px;
      }

      &--3 {
        width: 41%;
        margin-left: auto;
        top: 104px;
        right: 177px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        padding-bottom: 15px;

        .stages-of-work__subtitle {
          margin-top: 7px;
          margin-right: 50px;
        }
      }

      &--4 {
        top: 97px;
        left: 4px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
      }

      &--5 {
        right: 62px;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 6;
      }
    }

    &__subtitle {
      text-align: start;
    }

    &__text {
      font-size: 16px;
      text-align: start;
    }

    &__number {
      font-family: "Montserrat";
      left: -14px;
      bottom: -18px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .stages-of-work {
    
    &__list::after {
      background-image: url("../img/bg-line-stages.png");
      top: 142px;
      left: 118px;
    }

    &__item {
      max-width: 348px;
    }

    &__item--1 {
      left: -154px;
    }

    &__item--2 {
      right: 56px;
    }

    &__item--3 {
      right: -175px;
    }

    &__item--4 {
      top: -162px;
    }

    &__item--5 {
      top: -56px;
      right: 134px;
    }
  }
}
