.studio-design {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;

  & .heading {
    margin: 27px 24px 40px;
  }

  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }


  &__video {
    background-color: $white;
  }

  &__video-poster {
    width: 100%;
    height: 100%;
    background-color: $pearlescent-light-gray;
    position: absolute;
  }

  &__button-play {
    width: 0;
    height: 0;
    position: absolute;
    top: 44.5%;
    left: 46.5%;
    background: none;
    border: none;
    border-top: 20px solid transparent;
    border-left: 36px solid $light-gray-play;
    border-bottom: 20px solid transparent;
    cursor: pointer;
  }
}


